
* {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1868ae;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    
}

.topHeader {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px 30px;   
    
}

.leftHeader {
    display:flex;
    justify-content: center;
}

.leftHeader .initials {
    margin-right: 40px;
}

.git {
    margin-top: 7px;
}

.linkedIn {
    margin-top: 5.5px;
}

.itemContainer {
    margin-left: 40px;
}

.intro {
    display: flex;
    min-height: 600px;
}

.intro .leftIntro {
    display: flex;
    justify-content: center;
    width: 50%;

}

.leftHeader div {
    font-size: 30px;
}

.leftIntro img {
    /* width: 400px; */
}

.intro .rightIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0px 0px 0px 40px;
}

.waveOne {
    position: absolute;
    bottom: 0px;
    transform: translateY(150px); 
}

.waveFour {
    position: absolute;
    
}

.desc {
    font-size: 16px;
    color: #000000;
}

.typeWriter {
    font-size: 6rem;
    color: #000000;
}

.projectContainer {
    display: flex;
}

.redirectsContainer {
    display: flex;
}

.portfolio {
    margin: 170px 0px 0px 0px;
    background-color: #1868ae;
}

.portfolio, .projectTitle, .projectName, .projectDesc {
    color: #ffffff;
}

.portfolio{
    font-size: 5rem;
    text-align: center;
}

.projectTitle {
    font-size: 3rem;
}

.projectContainer {
    display: flex;
    background-color: #1868ae;
    justify-content: center;
    padding: 64px 0px;
    
}

.projectContainer img {
    width: 300px;
}

.redirectsContainer img {
    width: 32px;
    height: 32px;
}

.reverse {
    flex-direction: row-reverse;
}

.aboutMeContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
    position: relative;
}

.aboutMeContainer h1{
    font-size: 4rem;
    color: #000000;
}

.descriptionContainer{
    width: 200px;
    margin: 0 auto;
    background-color: #d9f0fa;
    color: #000000;
    padding: 15px;
    border-radius: 25px;
    font-weight: 400;
    line-height: 2;
}

.Hobbies {
    margin: 100px 0px 0px 0px;
}

.Skills {
    margin: 50px 0px 0px 0px;
}

.skillsContainer {
    width: 200px;
    background-color: #d9f0fa;
    padding: 15px;
    border-radius: 25px;
    font-weight: 400;
    line-height: 2;
}

.skillsContainer div {
    color: #000000;
    text-align: center;
}
