
* {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1868ae;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px 30px;   
}

.leftHeader {
    display:flex;
    justify-content: center;
}

.git {
    margin-top: 7px;
}

.linkedIn {
    margin-top: 5.5px;
}

.itemContainer {
    margin-left: 40px;
}

.intro {
    display: flex;
    min-height: 600px;
}

.intro .leftIntro {
    display: flex;
    justify-content: center;
    width: 50%;

}

.leftHeader div {
    font-size: 30px;
}

.leftIntro img {
    /* width: 400px; */
}

.intro .rightIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0px 0px 0px 40px;
}

.waveOne {
    position: absolute;
    bottom: 0px;
    transform: translateY(150px);
    
}

.desc {
    font-size: 16px;
    color: #000000;
}

.typeWriter {
    font-size: 6rem;
    color: #000000;
}

/* .rightIntro {
    margin: 0 auto;
} */
