
* {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1868ae;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    
}

.topHeader {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px 30px;   
    transition-timing-function: ease-in;

}

.leftHeader {
    display:flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.initials.active div{
    color: #ffffff;
    min-height: 51px;
    transition: 1s;
}

.leftHeader .initials {
    margin-right: 40px;
}

.git {
    margin-top: 7px;
}

.git.active {
    display: none;
}

.linkedIn {
    margin-top: 5.5px;
}

.linkedIn.active {
    display: none;
}

.itemContainer {
    margin-left: 40px;
}

.intro {
    display: flex;
    min-height: 600px;
}

.intro .leftIntro {
    display: flex;
    justify-content: center;
    width: 50%;

}

.leftHeader div {
    font-size: 30px;
}

.leftIntro img {
    /* width: 400px; */
}

.intro .rightIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0px 0px 0px 40px;
}

.waveOne {
    position: absolute;
    bottom: 0px;
    transform: translateY(150px); 
}

.waveThree {
    position: relative;
    top: 10px;
}

.waveFour {
    position: absolute;
}

.desc {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    width: 500px;
}

.typeWriter {
    font-size: 6rem;
    color: #000000;
}

.projectContainer {
    display: flex;
}

.redirectsContainer {
    display: flex;
}

.portfolio {
    margin: 100px 0px 0px 0px;
    background-color: #1868ae;
    position: relative;
    z-index: 998;
}

.portfolio, .projectTitle, .projectDesc, .techStack {
    color: #ffffff;
}

.portfolio{
    font-size: 5rem;
    text-align: center;
}

.projectTitle {
    font-size: 3rem;
}

.projectContainer {
    display: flex;
    background-color: #1868ae;
    justify-content: center;
    padding: 64px 0px;
    
}

.projectContainer img {
    width: 300px;
}

.redirectsContainer img {
    width: 32px;
    height: 32px;
}

.reverse {
    flex-direction: row-reverse;
}

.aboutMeContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
    position: relative;
}

.aboutMeContainer h1{
    font-size: 4rem;
    color: #000000;
}

.descriptionContainer{
    width: 200px;
    margin: 0 auto;
    background-color: #d9f0fa;
    color: #000000;
    padding: 15px;
    border-radius: 25px;
    font-weight: 400;
    line-height: 2; 
}

.Hobbies {
    margin: 100px 0px 0px 0px;
}

.Skills {
    margin: 50px 0px 0px 0px;
}

.skillsContainer {
    width: 200px;
    background-color: #d9f0fa;
    padding: 15px;
    border-radius: 25px;
    font-weight: 400;
    line-height: 2;
}

.skillsContainer div {
    color: #000000;
    text-align: center;
}

.contactContainer {
    background-color: #1868ae;
    
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9f0fa;
    width: 400px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 25px;
}

.formContainer label {
    color: #ffffff;
}

.contactContainer h1 {
    text-align: center;
    color: #ffffff;
    font-size: 5rem;
}

.wrapper.active {
    background-color: #1868ae;
    transition: 1s;
}

.wrapper.inactive {
    background-color: #ffffff;
    transition: 1s;
}

.offScreenMenu li{
    list-style-type: none;
    color:#ffffff;
    padding: 15px;
    font-weight: 300;
    font-size: 2.5rem;
}

.offScreenMenu li:hover{
    font-weight: 500;
}

.offScreenMenu {
    background-color: #1868ae;
    padding: 100px 50px 50px 50px;
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    z-index: 998;
}

.offScreenMenu.active {
    transform: translateX(-450px);
    transition: 1s;
}

.offScreenMenu.inactive {
    transform: translateX(450px);
    transition: 2s;
}

nav { 
    /* padding: 1rem; */
    display: flex;
    background-color: #ffffff;
    height: 30px;
}

nav.active {
    background-color: #1868ae;
    transition: 1s;
}

nav.inactive {
    background-color: #ffffff;
    transition: 1s;
}

.hamBurger {
    height: 33px;
    width: 30px;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px 0px 0px 0px;
    z-index: 999;
}

.hamBurger span {
    height: 3px;
    width: 100%;
    background-color: #1868ae;
}

.lineOne, .lineThree {
    transform:rotate(0deg);
    transition: 1.5s;
    transform-origin: left center;
}

.lineOne.active, .lineThree.active {
    background-color: #ffffff;
    transition: 1.5s;
    z-index: 999;
}

.lineOne.active{
    transform-origin: left center;
    transform: rotate(45deg);
    transition: 1.5s;
}

.lineThree.active{
    transform-origin: left center;
    transform: rotate(-45deg);
    transition: 1.5s;
}

.lineTwo.active{
    visibility: hidden;
    transition: 1s;
}


/* 
#portfolio {
    scroll-margin-top: 1000px;
} */
